* {
  margin: 0;
  padding: 0;
}

:root {
  --delta-margin: -100px;
}
body {
  background-color: #333;
}
h1 {
  color: #fff;
  text-align: center;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.slider {
  display: grid;
  width: 100%;
  height: 500px;
  overflow: hidden;
  grid-template-areas:
    "img img"
    "desc contrl";
  grid-template-rows: 400px 100px;
  grid-template-columns: 70% 30%;
}
.slider > .slider-images {
  grid-area: img;
  background-color: #ccc;
  display: flex;
  width: 400%;
  height: 100%;
}

.slider > .slider-images .slide {
  width: 25%;
  transition: all 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slider > .slider-descs {
  grid-area: desc;
  background-color: darkviolet;
  display: flex;
  flex-direction: column;
  height: 400%;
  width: 100%;
  overflow: hidden;
}
.slider > .slider-controls {
  display: flex;
  grid-area: contrl;
  background-color: coral;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
label {
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}
label:hover {
  cursor: pointer;
}
.slider-label .inner {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: cornflowerblue;
  border: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}
.slider-label:hover .inner {
  background-color: #fff;
  border: 4px solid white;
  transform: scale(1.1);
  cursor: pointer;
}
#radio1:checked ~ .slider-controls > label:nth-child(1):hover .inner,
#radio2:checked ~ .slider-controls > label:nth-child(2):hover .inner,
#radio3:checked ~ .slider-controls > label:nth-child(3):hover .inner,
#radio4:checked ~ .slider-controls > label:nth-child(4):hover .inner {
  border: 4px solid white;
}
.slider-label .inner:active {
  background-color: transparent;
  border: 4px solid white;
}

input[name="radio"] {
  visibility: hidden;
  position: absolute;
}
#radio1 ~ .slider-images > div:nth-child(1),
#radio2 ~ .slider-images > div:nth-child(2),
#radio3 ~ .slider-images > div:nth-child(3),
#radio4 ~ .slider-images > div:nth-child(4) {
  opacity: 0;
  transition: opacity 2s, margin-left 1s;
}
#radio1:checked ~ .slider-images > div:nth-child(1),
#radio2:checked ~ .slider-images > div:nth-child(2),
#radio3:checked ~ .slider-images > div:nth-child(3),
#radio4:checked ~ .slider-images > div:nth-child(4) {
  opacity: 1;
}

#radio1:checked ~ .slider-images > .move {
  margin-left: 0;
}
#radio2:checked ~ .slider-images > .move {
  margin-left: -25%;
}
#radio3:checked ~ .slider-images > .move {
  margin-left: -50%;
}
#radio4:checked ~ .slider-images > .move {
  margin-left: -75%;
}

#radio1:checked ~ .slider-controls > label[for="radio1"] .inner,
#radio2:checked ~ .slider-controls > label[for="radio2"] .inner,
#radio3:checked ~ .slider-controls > label[for="radio3"] .inner,
#radio4:checked ~ .slider-controls > label[for="radio4"] .inner {
  background-color: transparent;
  border: 4px solid cornflowerblue;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  font-size: 32px;
  color: #fff;
  text-align: center;
}
#radio1:checked ~ .slider-descs > .key {
  margin-top: 0;
}
#radio2:checked ~ .slider-descs > .key {
  margin-top: var(--delta-margin);
}
#radio3:checked ~ .slider-descs > .key {
  margin-top: calc(var(--delta-margin) * 2);
}
#radio4:checked ~ .slider-descs > .key {
  margin-top: calc(var(--delta-margin) * 3);
}
@media (max-width: 768px) {
  .slider {
    grid-template-areas:
      "img"
      "contrl"
      "desc";
    height: 600px;
    grid-template-rows: 400px 100px 100px;
    grid-template-columns: 100% 100% 100%;
  }
}
