* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.slider {
  display: grid;
  width: 100%;
  height: 400px;
  overflow: hidden;
  grid-template-areas:
    "img img"
    "desc contrl";
  grid-template-rows: 300px 100px;
  grid-template-columns: 70% 30%;
}
.slider > .slider-images {
  grid-area: img;
  background-color: cornflowerblue;
  display: flex;
  width: 400%;
  height: 100%;
}

.slider > .slider-images .slide {
  width: 25%;
  transition: all 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slider > .slider-descs {
  grid-area: desc;
  background-color: chartreuse;
}
.slider > .slider-controls {
  grid-area: contrl;
  background-color: coral;
}
.slider-controls {
  display: flex;
}
.slider-label {
  width: 10px;
  height: 10px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.slider-label:hover {
  opacity: 1;
  transform: scale(1.1);
}

input[name="radio"] {
  visibility: hidden;
  position: absolute;
}
#radio1 ~ .slider-images > div:nth-child(1),
#radio2 ~ .slider-images > div:nth-child(2),
#radio3 ~ .slider-images > div:nth-child(3),
#radio4 ~ .slider-images > div:nth-child(4) {
  opacity: 0;
  transition: opacity 1s, margin-left 0.1s;
}
#radio1:checked ~ .slider-images > div:nth-child(1),
#radio2:checked ~ .slider-images > div:nth-child(2),
#radio3:checked ~ .slider-images > div:nth-child(3),
#radio4:checked ~ .slider-images > div:nth-child(4) {
  opacity: 1;
}
#radio1:checked ~ .slider-images > .move {
  margin-left: 0;
}

#radio2:checked ~ .slider-images > .move {
  margin-left: -25%;
}
#radio3:checked ~ .slider-images > .move {
  margin-left: -50%;
}
#radio4:checked ~ .slider-images > .move {
  margin-left: -75%;
}
#radio1:checked ~ .slider-controls > label[for="radio1"] {
  background-color: chartreuse;
}

#radio2:checked ~ .slider-controls > label[for="radio2"] {
  background-color: chartreuse;
}

#radio3:checked ~ .slider-controls > label[for="radio3"] {
  background-color: chartreuse;
}
#radio4:checked ~ .slider-controls > label[for="radio4"] {
  background-color: chartreuse;
}

@media (max-width: 768px) {
  .slider {
    grid-template-areas:
      "img"
      "contrl"
      "desc";
    grid-template-rows: 300px 50px 50px;
    grid-template-columns: 100% 100% 100%;
  }
}
